/* BACKGROUND */
body{
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-image: url('../img/bg2.png');
}

/* section */
#register{
    padding: 10px;
}

/* TITLE */
.header h5{
    font-size: 35px;
    font-weight: 600;
}
.header p{
    color: #B9B8B8;
    font-size: 16px;
}
.header a{
    text-decoration: underline;
    font-weight: 700;
    color: #10DA70;
}

/* INPUT FORM */
input[type="text"], input[type="password"]{
    height: 70px;
}
a.lupa-sandi{
    text-decoration: none;
    font-size: 16px;
    color: #8E8E8E;
}
.label-ingat{
    font-size: 16px;
    color: #8E8E8E;
}
i{
    color: #8E8E8E;
}
.input-group-text {
    cursor: pointer;
}
#password{
    border-right: none;
}
#toggle-password{
    border-left: none;
    background-color: white;
}
a{
    cursor: pointer;
}

/* INPUT AKTIF */
.input-group:focus-within {
    border: 1px solid #ced4da; 
    border-bottom: 4px solid #54E28D;
    border-radius: 6px;
}

#noTelp:focus{
    border-bottom: 4px solid #54E28D;
}
#namaLengkap:focus{
    border-bottom: 4px solid #54E28D;
}
input[type="text"]:focus,input[type="password"]:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

/* BUTTON */
.btn-register{
    height: 70px;
    width: 100%;
    background-color: #1E9781;
    color: white;
    text-align: center;
    padding: auto;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #1E9781;
    border-radius: 6px;
    &:hover{
        background-color: white;
        color: #1E9781;
    }
}

/* RESPONSIF GAMBAR */
@media (max-width: 767.98px) {
    /* Media query for mobile devices */
    .col-img {
        order: -1; /* Place image column before form column */
    }
    .navbar-brand img{
       padding: 0px 45%;
    }
    body{
        background-image: url("../img/bg3.png");
        background-size: cover;
        background-repeat: none;
        background-position: center;
    
    }
}