/* TABEL */
.detail-sewa{
 padding: 30px;
}
.table {
    margin-bottom: 0; 
    border-collapse: collapse; 
}
.tabel-detail{
    border: 1px solid #A8A8A8AB;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}
td.keterangan{
    background-color: #F0F1F3;
    color: #5C59E8;
    text-align: left;
    font-weight: 600;
    padding-left: 20px;
}
td{
    text-align: center;
    height: 80px;
}
th{
    height: 80px;
}
.tabel-detail th,
.tabel-detail td {
    width: 50%; 
}

/* FORM ULASAN */
.ulasan{
    padding: 30px;
}
textarea{
    height: 190px;
}
#ulasan{
    background-color:#F0F1F3;
    border: none;
}
.rating {
    font-size: 50px; 
    color: #E9E9F2; 
}

.rating .fa-star {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.rating .fa-star.active {
    color: #FEB822; 
}

.rating span {
    margin-right: 0.1rem;
}

.btn-ulasan {
    margin-top: 30px;
    background-color: #4FB472;
    color: white;
    text-align: center;
    height: 33px;
    width: 195px;
    padding: 3px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #4FB472;
    border-radius: 4px;
    &:hover{
        background-color: white;
        color: #4FB472;
    }
}

.text-rating{
    font-size: 24px;
    font-weight: 500;
    
}

.rating-info {
    display: inline-block;
}